*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: ' menulat menulat'
                         ' encabezado columna1'
                         ' columna2 piepagina'
                         ;
                         overflow: scroll;
    justify-content: stretch;    
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
 }

 .caja{

    border: 5px solid rgb(2, 50, 82);
    float: left;
   text-align: center;
    color: beige;
    background-color: brown;

 }

 #caja1{grid-area: menulat;
    text-align: justify;
    color: beige;
    padding: 15px;
    background-color: rgb(0, 111, 155);
}
 #caja2{grid-area: encabezado;
    color: rgb(4, 37, 37);
 }
 #caja3{grid-area: columna1;
color: rgb(4, 37, 37);}
#caja4{grid-area: columna2;
    color: rgb(4, 37, 37);}
#caja5{grid-area: piepagina;
    color: rgb(4, 37, 37);}

@media screen and (max-width: 900px ) {
    .contenedor{
        grid-template-columns: 30% 70%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: ' menulat menulat'
                         ' encabezado columna1'
                         ' columna2 piepagina'
                         ;
                         overflow: scroll;
    }   
}
