* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:darkseagreen;
    font-size: 25px;
    font-style: italic;
}

.contenedor
{
    width: 100vw;
    height: 100vh;
}
.sidebar {
    float: left;
    background-color:rgb(32, 6, 6);
    width: 200px;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    padding: 5px;
}
a {
    display: block;
    text-decoration: none;
    padding: 5px;
 color: gold;
 border-radius: 5px;
 border-color: black;
}
a:hover {
    background-color: greenyellow;
    color: white;
    
}
div.content {
    float: left;
    width: calc(100% - 200px);
    background-color: yellow;
    padding: 1px 16px;
    height: 100%;
    
}

.contenidoOpcion { display: none;}


/*input{display: none;}

input:checked + .sidebar{
    display: none;
}*/
@media screen and (max-width: 1200px){
    div.sidebar{
        float: none;
        width: 100%;
        height: auto;
    }
    .sidebar a {float: left}
    div.content {margin-left: 0;
    width: 100%;}

}

@media screen and (max-width: 600px){
.sidebar a{
    float: none;
    text-align: center;
}}
